ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  
  ul li a {
    height: 250px;
    width: 250px;
    /* border: 1px solid whitesmoke; */
    /* border-radius: 1rem; */
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
  }

  li a:hover{
    opacity: 0.8;
    cursor: pointer;
  }
  
  .name{
    color: red;
    font-family: cursive;
}

.origins{
    font-family: cursive;
}

.content{
    padding: .5rem 1rem;
    position: relative;
}

.favorite{
    position: absolute;
    top: .5rem;
    right:.1rem;
   
}

.favorite.not{
    color: white;
}

