ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  
  ul li a {
    height: 250px;
    width: 250px;
    /* border: 1px solid whitesmoke; */
    /* border-radius: 1rem; */
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
  }

  li a:hover{
    opacity: 0.8;
    cursor: pointer;
  }
  
  .name{
    color: red;
    font-family: cursive;
    padding: 0px 0px 3px 45px;
    width: min-content;
}



.content{
    padding: 0.5rem 0.1rem 0.5rem 0.5rem;
    position: relative;
}

.favorite{
    position: absolute;
    top: .5rem;
    right:.1rem;
   
}



.product-item-footer{

    display: flex;
    /* justify-content: space-between; */
}

.favorite.not{
    color: white;
}

.cook-time{
     color: red;
    display: inline-flex;
}