img{
    width: 250px;
    margin-top: 1rem;
  

}

.container{
    display: flex;
    align-items: center;
    margin: 3rem;
   
}



.content{
   
    display: flex;
    flex-direction: column;
   margin-left: 1rem;

}